.content_wrapper {
	width: auto;
	margin: auto;
	margin-top: 15%;
	display: inline-block;
}

.content_wrapper .content h2 {
	color: black;
	border-bottom: 2px solid black;
}

.content_wrapper .content {
	width: auto;
	/*display: inline-flex;*/
	flex-direction: column;
	text-align: center;
	transition: all 2s;
	background: white;
}

.content_wrapper .content input{
	display: block;
	width: 100%;
	margin-top: 20px; 
	
}

.content_wrapper .content .incorrect_data {
	color: red;
	margin-top: 20px;
	display: none;
}

.content_wrapper .content input[type='submit'] {
	width: 100%;
	margin-top: 20px;
}